[Unit]
Description="Greenhouse Monitoring Utility"

[Service]
Type=simple
User=pi
Group=pi
Restart=on-failure
ExecStart=python3 /opt/gmu/gmu.py --loop --segment --lcd --matrix --hum --temp --light --csv --relay -u 4 --service-mode

[Install]
WantedBy=multi-user.target
