[Unit]
Description="Greenhouse Monitoring Utility"

[Service]
Type=simple
User=pi
Group=pi
Restart=on-failure
ExecStart=python3 /opt/gmu/gmu.py -LHtlsm -li -u 4 --service-mode

[Install]
WantedBy=multi-user.target
